{% include 'base.html' %}
{% block content %}
<style>
    .contat {
        height: 75vh;
    }
</style>
<div class="contat">
    <!-- <p class="text-white">copyRight 2020 All rights reserved</p> -->
<div>
    <h2  class="text-center">view Appointments</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <!-- <td>{{i.id}}</td> -->
                <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                
              <td><a href="{%url 'delete_appointment' appointment.id %}"onclick="return confirm('are you sure want to delete!')"class="btn btn-danger">delete</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% include 'footer.html' %}