#h1{
    color: aqua;
}
hr.rounded{
    border-top: 10px solid lightblue;
    border-radius: 5px;
}
.mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translatey(-20px);
}
@media screen and (min-width: 80rem) {
    .container {
      margin: 1em 2em;
    }
  }
